@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Veselina';
    src: url('../fonts/veselina.otf') format('opentype'),
    url('../fonts/veselina.otf') format('opentype');
}


h1 {
    font-family: 'Veselina', sans-serif;
    font-size: 28px;
}


